<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "css/signinstyles.css"%}">
  <!-- libreria bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- libreria iconos -->
  <link href="fontawesome-free-5.13.0-web\css\fontawesome.css" rel="stylesheet">
  <link href="fontawesome-free-5.13.0-web\css\brands.css" rel="stylesheet">
  <link href="fontawesome-free-5.13.0-web\css\solid.min.css" rel="stylesheet">

  <!-- librerias jquery, and js -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <title>Iniciar sesión</title>
</head>
<body>
  <div class="main">
    <div id="signin">
      <h4><strong>Bienvenido</strong></h4>
      <!-- Modal Content -->
      <form class="ingreso" method="POST" action="{% url 'basic_app:user_login' %}">
        {% csrf_token %}
        <div class="container-box">
          <label for="username"><b>Usuario o email</b></label>
          <input id="username" type="text" placeholder="Usuario" name="username" required>

          <label for="password"><b>Contraseña</b></label>
          <input id="password" type="password" placeholder="Contraseña" name="password" required>
          <br>
          <br>
          <button id="button" type="submit" class="btn btn-primary btn-block" value="Login">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="rememder"> Recordarme
          </label>
        </div>
      </form>
      <p class="text-muted">Inicar sesión con</p>
      <div class="row">
        <div class="col-md-6">
          <a href="#" title="facebook" id=""><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="col-md-6">
          <a href="#" title="google +" id=""><i class="fab fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
